<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" *ngIf="this.usuario">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>e-coleta | Ecotres</ion-list-header>
          <ion-note>{{this.usuario.user_email}}</ion-note>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">

            <ion-item *ngIf="!(p.title == 'Suporte')" (click)="selectedIndex = i" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon color="success" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
              <!-- routerDirection="root" -->
            </ion-item>
            <ion-item *ngIf="usuario.user_id != 578 && (p.title == 'Suporte')" href="https://api.whatsapp.com/send?phone=553193567988" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon color="success" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <!-- <ion-list id="labels-list"> -->
          <!-- <ion-list-header>Sistema</ion-list-header> -->

          <!-- <ion-item *ngFor="let label of labels" lines="none"> -->
            <!-- <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon> -->
            <!-- <ion-label>{{ label }}</ion-label> -->
          <!-- </ion-item> -->
        <!-- </ion-list> -->
      </ion-content>
      <ion-toolbar class="footer">
        <ion-footer>
          <ion-button (click)="sair()">Sair</ion-button>
      </ion-footer>
      </ion-toolbar>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
